src/
/test
/docs
tsconfig.json
.env
.eslintrc.json
.gitignore
.npmignore
.prettierrc.json
package-lock.json
webpack.config.js
.DS_Store
.idea/
.git
npm-debug.log
yarn.lock
discgit.config.json
jest.config.js
.travis.yml
.coveralls.yml